fieldset {
  border: none;
}

.footer {
  background: #3b3b3b;
  color: #eee;
  position: relative;
}

.footer a {
  color: #eee;
}

.footer_term {
  width: 1200px;
  margin: auto
}

.footer_term ul {
  height: 60px;
}

.footer_term ul li {
  line-height: 60px;
  float: left;
  margin-right: 15px;
  font-weight: bold;
  font-size: 16px;
}

.notice::after {
  content: "|";
  margin-left: 15px
}

.footer_side_wrap {
  width: 1200px;
  margin: auto;
  position: relative;
}

.footer_gopatner {
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  top: -42px;
  right: 10px;
}

/* 파트너 회원가입 모달창 */
.scrollLock { 
  overflow: hidden; 
}

.ptn_modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0,0,0,0.6);
  display: none;
}

.ptn_pop_signup {
  width: 800px;
  height: 770px;
  background-color: white;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  opacity: 1;
  color: black;
}

.ptn_pop_logo {
  display: block;
  width: 175px;
  height: 75px;
  margin: 10px auto;
  background: url(../images/partner_logo.png) no-repeat;
}

.ptn_pop_cancel_btn {
  width: 15px; 
  height: 15px; 
  background: url(../images/pop_cancelbtn.png) center center no-repeat;
  cursor: pointer;
  border: none;
  position: absolute;
  top:20px;
  right: 20px;
}

.ptn_pop_line {
  width: 600px;
  height: 2px;
  background: #d7d7d7;
  margin: 30px auto 15px;
}

.ptn_pop_signup_title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 2px;
}

.ptn_pop_txt {
  font-size: 17px;
  color: #8c8c8c;
  text-align: center;
  margin-bottom: 30px;
}

.ptn_pop_info_wrap {
  width: 500px;
  margin: auto;
  text-align: center;
}

.ptn_pop_name_wrap, .ptn_pop_num_wrap, .ptn_pop_tel_wrap {
  position: relative;
}

.ptn_pop_title {
  width: 100px;
  font-size: 16px;
  text-align: left;
  vertical-align: center;
  display: inline-block;
  margin-right: 15px;
}

.ptn_pop_input {
  width: 300px;
  height: 40px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding-left: 15px;
  margin-bottom: 20px;
}

.ptn_pop_err_input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #eeb72f;
}

.ptn_pop_err_txt {
  margin-left: 20px;
  font-size: 12px;
  color: #eeb72f;
  display: inline-block;
  position: absolute;
  top:42px;
  left: 140px;
}

.ptn_pop_mr {
  margin-bottom: 30px;
}

.ptn_pop_term {
  width: 500px;
  margin: 20px auto 0;
  border: none;
}

.ptn_pop_term_title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 20px;
  color: #313131;
}

.ptn_pop_term_wrap {
  width: 500px;
  height: 130px;
  margin: auto;
  padding: 8px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  display: flex;
  flex-direction:column;
  align-content: center;
}
.ptn_pop_check_all_wrap{
  margin: 5px 0 0 18px;
  text-align: right;
}

.ptn_pop_check_all_txt {
  font-size: 15px;
  font-weight: bold;
  color: #585858;
}

.ptn_pop_check_err_txt {
  display: block;
  font-size: 12px;
  color: #eeb72f;
}

.ptn_pop_checkbox_wrap {
  margin: 8px 0 8px 10px
}

.ptn_pop_viewall {
  float: right;
  margin-right: 10px;
}

.ptn_pop_term_wrap label {
  color: #8c8c8c;
}

.ptn_pop_term_wrap a {
  color: #eeb72f;
}

.ptn_pop_modal_btn {
  position: absolute;
  left: 240px;
  bottom: 20px;
}

.ptn_signup_cancel_btn {
  width: 150px;
  height: 40px;
  background: #f2f5ef;
  color: #8b8b8b;
  border: 1px solid #f2f5ef;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 15px;
}

.ptn_signup_btn {
  width: 150px;
  height: 40px;
  background: #eeb72f;
  color: white;
  border: 1px solid #eeb72f;
  border-radius: 5px;
  font-weight: bold;
}


.footer_side {
  width: 230px;
  height: 30px;
  position: absolute;
  top: -12px;
  right: 0px;
}

.footer_sns_fb a {
  width: 29px;
  height: 30px;
  background: url(../images/footer_facebook.png) no-repeat;
  display: block;
  float: left;
  margin-right: 5px;
}

.footer_sns_blog a {
  width: 29px;
  height: 30px;
  background: url(../images/footer_blog.png) no-repeat;
  display: block;
  float: left;
  margin-right: 5px;
}

.footer_sns_instar a {
  width: 29px;
  height: 30px;
  background: url(../images/footer_instargram.png) no-repeat;
  display: block;
  float: left;
  margin-right: 5px;
}

.footer_qna {
  width: 120px;
  height: 30px;
  background: url(../images/footer_QnA.png) no-repeat;
  display: block;
  float: left;
  margin-right: 5px;
}

.footer_info {
  width: 1200px;
  margin: 0 auto 20px;
}

.footer_txt::after {
  content: "|";
  margin: 0 5px
}

.footer_info_txt1 {
  height: 24px;
}

.footer_info_txt1 p {
  float: left;
}

.footer_info_txt2 {
  height: 24px;
}

.footer_info_txt2 p {
  float: left;
}

.footer_info_txt3 {
  height: 24px;
}

.footer_info_txt3 p {
  float: left;
}

.footer_bot_warp {
  border-top: 1px solid #000;
}

.footer_bot {
  width: 1200px;
  margin: auto;
  padding-bottom: 20px;
}

.footer_bot p {
  margin-top: 20px;
}