.header {
  height: 200px;
  padding-top: 1px;
  position: relative;
}

/* logo */
.logo {
  width: 190px;
  height: 60px;
  margin: 75px auto 0;
}

.logo a {
  display: block;
  width: 190px;
  height: 60px;
  background: url(../images/logo.png) no-repeat;
}

/* top menu */
.top_menu {
  width: 100%;
  height: 59px;
  border-bottom: 1px solid #d7d7d7;
  position: absolute;
  top: 0;
  padding: 20px;
}

.top_menu ul {
  float: right;
}

.top_menu li {
  float: left
}

.top_bar::after {
  content: "|";
  margin: 0 10px;
}

/* gnd */
.gnb {
  border-bottom: 1px solid #8c8c8c;
  position: relative;
}

.gnb>ul {
  width: 1200px;
  margin: 14px auto 0;
  height: 50px;
}

.menu1 {
  float: left;
  margin-right: 20px;
}

.menu1>a {
  width: 100px;
  height: 50px;
  background: url(../images/menu01.jpg) no-repeat;
  display: block;
}

.menu2 {
  float: left;
  margin-right: 20px;
}

.menu2>a {
  width: 100px;
  height: 50px;
  background: url(../images/menu02.jpg) no-repeat;
  display: block;
}

.menu3 {
  float: left;
  margin-right: 20px;
}

.menu3>a {
  width: 160px;
  height: 50px;
  background: url(../images/menu03.jpg) no-repeat;
  display: block;
}

.menu4 {
  float: left;
  margin-right: 20px;
}

.menu4>a {
  width: 140px;
  height: 50px;
  background: url(../images/menu04.jpg) no-repeat;
  display: block;
}

/* 서브메뉴 display:none */
.menu4_sub_wrap {
  width: 100%;
  position: absolute;
  left: 0;
  display: none;
}

.menu4_sub_wrap ul {
  width: 1200px;
  margin-top: 1px;
  background: #fff;
  z-index: 1;
  margin: 1px auto 0;
  height: 60px;
  display: flex;
  justify-content: center;
}

.menu4_sub1 a {
  width: 130px;
  height: 60px;
  background: url(../images/submenu4_image1.jpg) no-repeat;
  display: block;
}

.menu4_sub2 a {
  width: 100px;
  height: 60px;
  background: url(../images/submenu4_image2.jpg) no-repeat;
  display: block;
}

.menu5 {
  float: left;
  margin-right: 20px;
}

.menu5>a {
  width: 180px;
  height: 50px;
  background: url(../images/menu05.jpg) no-repeat;
  display: block;
}


/* 서브메뉴 display : none */
.menu5_sub_wrap {
  width: 100%;
  margin-top: 1px;
  background: #fff;
  z-index: 1;
  position: absolute;
  left: 0;
  display: none;
}

.menu5_sub_wrap ul {
  width: 1200px;
  margin: 1px auto 0;
  display: flex;
  justify-content: center;
}

.menu5_sub1 a {
  width: 150px;
  height: 60px;
  background: url(../images/submenu5_image1.jpg) no-repeat;
  display: block;
}

.menu5_sub2 a {
  width: 150px;
  height: 60px;
  background: url(../images/submenu5_image2.jpg) no-repeat;
  display: block;
}

.menu5_sub3 a {
  width: 150px;
  height: 60px;
  background: url(../images/submenu5_image3.jpg) no-repeat;
  display: block;
}

.menu5_sub4 a {
  width: 150px;
  height: 60px;
  background: url(../images/submenu5_image4.jpg) no-repeat;
  display: block;
}

.menu5_sub5 a {
  width: 150px;
  height: 60px;
  background: url(../images/submenu5_image5.jpg) no-repeat;
  display: block;
}

.menu6 {
  float: left;
  margin-right: 20px;
}

.menu6>a {
  width: 150px;
  height: 50px;
  background: url(../images/menu06.jpg) no-repeat;
  display: block;
}

.menu7 {
  float: left;
  margin-right: 20px;
}

.menu7>a {
  width: 140px;
  height: 50px;
  background: url(../images/menu07.jpg) no-repeat;
  display: block;
}

/* 서브메뉴 display : none */
.menu7_sub_wrap {
  width: 100%;
  margin-top: 1px;
  background: #fff;
  z-index: 1;
  position: absolute;
  left: 0;
  display: none;
}

.menu7_sub_wrap ul {
  width: 1200px;
  margin: 1px auto 0;
  display: flex;
  justify-content: center;
}

.menu7_sub1 a {
  width: 150px;
  height: 60px;
  background: url(../images/submenu7_image1.jpg) no-repeat;
  display: block;
}

.menu7_sub2 a {
  width: 150px;
  height: 60px;
  background: url(../images/submenu7_image2.jpg) no-repeat;
  display: block;
}

.menu8 {
  float: left;
}

.menu8>a {
  width: 54px;
  height: 50px;
  background: url(../images/menu08.jpg) no-repeat;
  display: block;
}