input {
  border: none;
}

/* 기본 달력 아이콘, placeholder 제거 */
input[type=date]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

.content {
  margin-bottom: 200px;
}

/* search bar */
.search_bar_wrap {
  height: 100px;
  background: #f2f5ef;
  padding: 20px;
}

.search_bar {
  width: 1200px;
  height: 60px;
  margin: auto;
}

.search_bar form {
  display: flex;
  align-items: flex-start;
}

.search_keyword {
  width: 520px;
  height: 60px;
  padding-left: 20px;
  margin-right: 5px;
}

.search_date {
  width: 380px;
  display: inline-block;
  margin-right: 5px;
}

.search_checkin {
  position: relative;
  display: inline-block;
}

.search_checkin input{
  width: 190px;
  height: 60px;
  padding-left: 20px;
  margin-right: -5px;
}

.search_checkin label {
  position: absolute;
  top: 10px;
  left: 20px;
  color: #8c8c8c;
  font-size: 12px;
}

.search_checkout {
  position: relative;
  display: inline-block;
}

.search_checkout input{
  width: 190px;
  height: 60px;
  padding-left: 20px;
}

.search_checkout label {
  position: absolute;
  top: 10px;
  left: 20px;
  color: #8c8c8c;
  font-size: 12px;
}

.search_count {
  position: relative;
  display: inline-block;
}

.search_count input {
  width: 150px;
  height: 60px;
  margin-right: 5px;
}

.search_count label {
  position: absolute;
  top: 10px;
  left: 20px;
  color: #8c8c8c;
  font-size: 12px;
}

.search_btn{
  width: 120px;
  height: 60px;
  background: #eeb72f;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
}

/* search filter */
.search_wrap {
  width: 1200px;
  height: 1100px;
  margin: auto;
}

.search_filter {
  width: 300px;
  float: left;
  margin-right: 50px;
}

.search_result {
  float: left;
  margin-top: 65px;
}

.search_filter_title {
  font-weight: bold;
  font-size: 16px;
  margin: 20px 0;
  height: 25px;
}

.search_filter_map {
  width: 300px;
  height: 100px;
  background: url(../images/map.png) no-repeat;
  display: block;
  margin-bottom: 40px;
}

/* slider */

.filter_price_range {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin-bottom: 40px;
}

.filter_title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px
}

.multi_range_slider {
  margin-top: 10px;
}

.slider {
  position: relative;
  z-index: 1;
  height: 10px;
  margin: 0 5px;
}

.slider>.track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #b7b7b7;
}

.slider>.range {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #eeb72e;
}

.slider>.thumb {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #8c8c8c;
  border-radius: 50%;
}

.slider>.thumb.left {
  left: 0;
  /* 요소를 현재 위치에서 일정 거리만큼 이동하고 싶을 때 사용 */
  transform: translate(-5px, -5px);
}

.slider>.thumb.right {
  right: 0;
  transform: translate(5px, -5px);
}

input[type="range"] {
  position: absolute;
  /* opacity로 가린 것을 이벤트도 비활성화하기 위해 */
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}

input[type="range"]::-webkit-slider-thumb {
  /* 겹쳐진 두 thumb를 모두 활성화 */
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  cursor: pointer;
  /* appearance를 해야 위의 스타일들을 볼 수 있음 */
  -webkit-appearance: none;
}

.range_value_wrap {
  padding: 5px 10px;
  height: 30px;
}

.range_value1 {
  float: left;
}

.range_value2 {
  float: right;
}

.checkbox_wrap {
  margin-bottom: 40px;
}

.checkbox_wrap label{
  color: #8c8c8c;
  font-size: 15px;
  margin: 0 0 5px 5px;
  vertical-align: bottom;
}


/* search result */
.search_result_title {
  width: 850px;
  font-size: 16px;
  border-bottom: 2px solid #b7b7b7;
}

.search_result_title span {
  font-weight: bold;
  color: #eeb72f
}

.result_room {
  width: 850px;
  height: 190px;
  border-bottom: 2px solid #b7b7b7;
  padding: 20px;
  position: relative;
  display: flex;
}

.result_room:hover{
  /* opacity: 70%; */
  box-shadow: 4px 4px 8px rgb(200, 200, 200);
}

.result_room a{
  width: 850px;
  height: 190px;
}
.result_room_left {
  width: 450px;
  margin-left: 20px;
  position: relative;
}

/* .result_room_right {
  position: absolute;
  right: 0;
}  */

.lodging_name {
  font-size: 25px;
  font-weight: bold;
}

.room_type {
  color: #8c8c8c;
}

.result_room_bot {
  position: absolute;
  bottom: 0;
  color: #8c8c8c;
}

.result_room_review {
display: inline-block;
margin-right: 20px;
}

.review_star {
  width: 77px;
  height: 14px;
  background: url(../images/star.png) no-repeat;
  text-indent: -9999px;
  display: inline-block;
}

.review_count {
  color: black;
  font-size: 16px;
  margin-right: 5px;
}

.result_room_like {
  display: inline-block;
}

.like_sign {
  width: 17px;
  height: 14px;
  background: url(../images/heart.png) no-repeat;
  text-indent: -9999px;
  display: inline-block;
  vertical-align: middle;
}

.like_count {
  vertical-align: middle;
}
.result_room_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.result_room_day {
  width: 48px;
  height: 23px;
  background: url(../images/oneday.png) no-repeat;
  margin-bottom: 5px;
}

.result_room_price {
  font-size: 25px;
  font-weight: bold;
}


/* search result */
.pagenation {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagenation_btn01 {
  width: 32px;
  height: 32px;
  background: url(../images/ldg_review_pagenation01.png) no-repeat;
  margin-right: 10px;
}

.pagenation_btn02 {
  width: 32px;
  height: 32px;
  background: url(../images/ldg_review_pagenation02.png) no-repeat;
}