.content { 
  width: 1200px;
  margin: 50px auto 200px;
} 

/* main lodging content */
.main_cont{
  height: 550px;
}

.main_cont_left {
  margin-left: 20px;
  width: 560px;
  float: left;
}

.slider-for{
  width: 560px;
  height: 350px;
  overflow: hidden;
}

.slider-for img{
  width: 560px;
  height: 350px;
  object-fit: cover;
}

.carousel {
  width: 560px; 
  height: 65px;
  margin-top: 20px;
  position: relative;
}
.slider-nav{
  width: 480px;
  height: 65px;
  margin: auto;
}

.slider-nav li {
  width: 110px;
  height: 65px;
  margin: 0 5px;
}

.nav_img {
  width: 110px;
  height: 65px;
  object-fit: cover;
}

.slick-slide {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}

.ldg_prev {
  width: 11px;
  height: 20px;
  background: url(../images/ldg_prev.png) no-repeat;
  display: block;
  position: absolute;
  top:22px;
  left:0
}

.ldg_next {
  width: 11px;
  height: 20px;
  background: url(../images/ldg_next.png) no-repeat;
  display: block;
  position: absolute;
  top: 22px;
  right: 0;
}

.main_cont_right {
  float: left;
  margin-left: 40px;
  position: relative;
}

.main_cont_right h3 {
  font-size: 25px;
}

.ldg_price {
  font-size: 25px;
  font-weight: bold;
  margin:50px 0;
}

.ldg_share {
  width: 30px;
  height: 30px;
  background: url(../images/ldg_share.png) no-repeat;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.ldg_like {
  width: 32px;
  height: 30px;
  background: url(../images/ldg_like.png) no-repeat;
  display: block;
  position: absolute;
  right: 0;
  top: 50px;
}

.relike_wrap {
  width: 580px;
  height: 35px;
  color: #8c8c8c;
}
.main_cont_review{
  display: inline-block;
}
.m_star {
  font-family: 'SDSamliphopangche_Basic' !important;
  position: relative;
  font-size: 1rem;
  color: #d7d7d7;
  cursor: default;
}

.m_star span {
  width: 0;
  position: absolute; 
  top: -4px;
  left: 0px;
  color: #ffde0d;
  overflow: hidden;
  pointer-events: none;
  cursor: default;
}

.m_star_gpa {
  margin-left: 5px;
  color: black;
  font-size: 18px;
}

.m_star_null {
  color: #8c8c8c;
  font-size: 12px;
}

.star_icon {
  width: 21px;
  height: 21px;
  background: url(../images/ldg_star.png) no-repeat;
  display: inline-block;
}

.gpa {
  font-size: 21px;
  font-weight: bold;
  vertical-align: middle;
}

.main_cont_review a{
  color: #eeb72f;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 5px;
}

.main_cont_like{
  float: right;
}

.like_color_txt {
  color: #eeb72f;
  font-weight: bold;
  font-size: 17px;
}

.pictogram{
  width: 580px;
  height: 140px;
  border-top: 2px solid #b7b7b7;
  border-bottom: 2px solid #b7b7b7;
}

.pictogram ul {
  padding: 30px 0;
  display: flex;
  justify-content: flex-start;
}

.pictogram li {
  width: 70px;
  margin-right: 40px;
  display: inline-block;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.pictogram p {
  margin-top: 10px;
  color: #8c8c8c;
  font-weight: bold;
}

.picto_img01{
  width: 54px;
  height: 50px;
  background: url(../images/ldg_picto01.png) no-repeat;
  display: inline-block;
}

.picto_img02{
  width: 66px;
  height: 50px;
  background: url(../images/ldg_picto02.png) no-repeat;
  display: inline-block;
}

.picto_img03{
  width: 42px;
  height: 50px;
  background: url(../images/ldg_picto03.png) no-repeat;
  display: inline-block;
}

.picto_img04{
  width: 34px;
  height: 50px;
  background: url(../images/ldg_picto04.png) no-repeat;
  display: inline-block;
}

.picto_img05{
  width: 33px;
  height: 50px;
  background: url(../images/ldg_picto05.png) no-repeat;
  display: inline-block;
}

.other_info h4 {
  font-size: 18px;
  margin-top: 15px;
}

.other_info p {
  color: #8c8c8c;
}

.location_btn {
  margin-top: 10px;
  width: 75px;
  height: 30px;
  border: 1px solid #eeb72f;
  border-radius: 2px;
  color: #eeb72f;
  background: white;
}

/* room content */
.room_cont h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

.user_info {
  width: 1200px;
  height: 200px;
  border-top: 2px solid #b7b7b7;
  border-bottom: 2px solid #b7b7b7;
  margin-top: 50px;
}

.date {
  position: relative;
  float: left;
}

.date input {
  width: 600px;
  height: 50px;
  border: 1px solid #b7b7b7;
  z-index: 100;
  cursor: pointer;
}

.data_placeholder {
  cursor: pointer;
}

.checkin_box_label {
  color: #8c8c8c;
  font-weight: bold;
  position: absolute;
  left: 100px;
  top: 15px
}

.checkout_box_label {
  color: #8c8c8c;
  font-weight: bold;
  position: absolute;
  left: 420px;
  top: 15px;
  font-size: 15px;
}

.date_arrow {
  position: absolute;
  left: 300px;
  top: 17px;
}

.prs{
  width: 300px;
  height: 50px;
  float: left;
  position: relative;
  margin-left: 20px;
}

.prs_box {
  width: 300px;
  height: 50px;
  border: 1px solid #b7b7b7;
  padding: 20px;
  color: #8c8c8c;
  cursor: default;
  font-size: 15px;
  font-weight: bold;
}

.prs_btn_wrap {
  width: 50px;
  position: absolute;
  top: 13px;
  right: 10px;
  display: flex;
  justify-content: space-between;
}

.prs_mbtn {
  width: 22px;
  height: 22px;
  border: none;
  background: url(../images/minus_btn.png) no-repeat;
}

.prs_mbtn:active {
  background: url(../images/minus_btn_click.png) no-repeat;
}

.prs_pbtn {
  width: 22px;
  height: 22px;
  border: none;
  background: url(../images/plus_btn.png) no-repeat;
}

.prs_pbtn:active {
  background: url(../images/plus_btn_click.png) no-repeat;
}

.warning_msg {
  margin-left: 5px;
  font-size: 12px;
  color: #eeb72f;
  display: none;
}

.room_list {
  position: relative;
}

.room_list_txt {
  position: absolute;
  top: -30px;
  color: #8c8c8c;
}

.room_list_txt span {
  color: #eeb72f;
  font-weight: bold;
}


.room {
  width: 1200px;
  height: 260px;
  border-bottom: 2px solid #b7b7b7;
  padding-top: 30px;
}

.room_img_wrap {
  float: left;
}

.room_img_wrap img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.room_left {
  float: left;
  margin-left: 30px;
  color: #8c8c8c;
}

.room_type {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.room_left_txt01 span {
  margin-left: 20px;
}

.room_right {
  height: 200px;
  float: right;
  text-align: right;
  display: flex;
  align-items: center;
}

.room_right_txt01 {
  color: #8c8c8c;
}

.room_right_txt02 {
  font-size: 20px;
  font-weight: bold;
}


.room_right_btn {
  width: 120px;
  height: 40px;
  background: #eeb72f;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  margin-left: 20px;
}

.intro_txt {
  color: #8c8c8c;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 20px;
  white-space:pre;
}

.review_wrap01 {
  width: 1200px;
  height: 240px;
  border-top: 2px solid #b7b7b7;
  border-bottom: 2px solid #b7b7b7;
}

.review_txt {
  margin-top: -20px;
  color: #8c8c8c;
}

.review_txt {
  margin-top: -20px;
  color: #8c8c8c;
}

.star_wrap {
  width: 270px;
  margin: auto;
  text-align: center;
}

.star_wrap p{
  margin-top: 10px;
}

.ostar_title {
  font-size: 16px;
  font-weight: bold;
  line-height: 100px;
}
.star_title {
 font-size: 16px;
 font-weight: bold;
}

.star_score_wrap {
  width: 250px;
  height: 33px;
  display: inline-block;
}

.star {
  font-family: 'SDSamliphopangche_Basic' !important;
  position: relative;
  font-size: 2rem;
  color: #d7d7d7;
  cursor: default;
}

.star input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: default;
}

.star span {
  width: 0;
  position: absolute; 
  left: -4px;
  color: #ffde0d;
  overflow: hidden;
  pointer-events: none;
  cursor: default;
}


.star_gpa {
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
}

.review_cnt{
  color: #8c8c8c;
}

.review li {
  width: 1160px;
  margin: auto;
  border-bottom: 1px solid #b7b7b7;
  padding: 20px 0;
}

.comment_name {
  font-weight: bold;
}

.comment_star_wrap {
  width: 250px;
  height: 20px;
  display: inline-block;
  margin: 5px 0;
}

.comment_star {
  font-family: 'SDSamliphopangche_Basic' !important;
  position: relative;
  font-size: 1rem;
  color: #d7d7d7;
  cursor: default;
}

.comment_star input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: default;
}

.comment_star span {
  width: 0;
  position: absolute; 
  left: 0;
  color: #ffde0d;
  overflow: hidden;
  pointer-events: none;
  cursor: default;
}


.comment_star_gpa {
  font-size: 12px;
  margin-left: 5px;
}

.pager_wrap {
  width: 850px;
  margin-top: 10px;
}
.pager {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  line-height: 32px;
  margin-top: 10px;
}

.page01 {
  color: #eeb72f;
  width: 32px;
  height: 32px;
  background: url(../images/page01.png) no-repeat;
  margin:0 5px;
}

.page02 {
  color: #B7B7B7;
  width: 32px;
  height: 32px;
  background: url(../images/page02.png) no-repeat;
  margin:0 5px;
}
.page_prev {
  width: 32px;
  height: 32px;
  background: url(../images/page_prev.png) no-repeat;
  margin:0 5px;
}

.page_next {
  width: 32px;
  height: 32px;
  background: url(../images/page_next.png) no-repeat;
  margin:0 5px;
}