.content { 
  height: 400px;
  margin-bottom: 300px;
}

.login_wrap {
  width: 1000px;
  height: 400px;
  margin: auto;
}

.login_title_wrap {
  width: 1000px;
  border-bottom: 2px solid black;
  margin: 0 auto 50px;
}

.login_title {
  width: 150px;
  font-size: 40px;
  margin: 100px auto 50px;
  text-align: center;
}

.minda_login_wrap {
  width: 630px;
  border-right: 2px solid #b7b7b7;;
  float: left;
}

.login_form_wrap {
  width: 500px;
  margin: auto;
}

.minda_login {
  width: 180px;
  margin: auto;
  margin-bottom: 30px;
  font-size: 22px;
  text-align: center;
}

.login_input {
  width: 500px;
  height: 40px;
  padding-left: 15px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #b7b7b7;
}

.err_input {
  width: 500px;
  height: 40px;
  padding-left: 15px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid red;
}

.err_txt {
  width: 300px;
  font-size: 12px;
  color: red;
  display: block;
}

.err_login {
  width: 300px;
  margin: 5px 0 0 63px;
  font-size: 15px;
  color: red;
  display: block;
}

.login_btn {
  width: 500px;
  height: 40px;
  margin: 30px 0 0 63px;
  background: #eeb72f;
  color: white;
  font-weight: bold;
  font-size: 17px;
  border: none;
  border-radius: 5px;
}

.checkbox_wrap {
  width: 500px;
  height: 20px;
  margin: 10px auto 0;
  color: #8c8c8c;
  vertical-align: middle;
}

.save_password_label {
  margin-left: 15px;
}

.lock{
  float: right;
}

.lock a {
  color: #8c8c8c;
}
/* social login */
.social_login {
  width: 270px;
  margin-left: 50px;
  float: left;
}

.social_login_title {
  width: 180px;
  margin: auto;
  margin-bottom: 30px;
  font-size: 22px;
  text-align: center;
  margin: 0 auto 30px;
}

.naver_login {
  width: 270px;
  height: 50px;
  background: url(../images/login_naver.jpg) no-repeat;
  display: block;
  margin-bottom: 20px;
}

.kakao_login {
  width: 270px;
  height: 50px;
  background: url(../images/login_kakao.jpg) no-repeat;
  display: block;
  margin-bottom: 20px;
}

.signup {
  height: 50px;
}

.signup p {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.signup a {
  font-weight: bold;
  color: #eeb72f;
  float: right;
}