/* main banner */
.mb_wrap {
  height: 500px;
  background-color: #f2f5ef;
}

.mb {
  width: 1200px;
  height: 500px;
  margin: auto;
}

.mb_search {
  float: left;
  margin: 90px 100px 0 120px;
}

.mb_reco {
  float: left;
  margin-top: 35px;
  position: relative;
}

.mb_search h3 {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #8c8c8c;
  margin-bottom: 30px;
}

.mb_search_list {
  height: 35px;
}

.mb_search_room {
  float: left;
  text-align: center;
}

.mb_search_room a {
  width: 125px;
  height: 32px;
  font-size: 20px;
  /* background: url(../images/main_search_room.jpg) no-repeat; */
  display: block;
  margin-bottom: 5px;
}

.mb_search_tour {
  float: left;
  text-align: center;
}

.mb_search_tour a {
  width: 125px;
  height: 32px;
  font-size: 20px;
  /* background: url(../images/main_search_tour.jpg) no-repeat; */
  display: block;
  margin-bottom: 5px;
}

.search_bar_boder {
  border-bottom: 3px solid black;
}

.mb_search_bar {
  width: 250px;
  height: 4px;
  background: url(../images/main_search_bar.png) no-repeat;
}

.mb_search input {
  width: 250px;
  height: 40px;
  border: none;
  font-size: 15px;
  padding: 10px;
}

.mb_search_input1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.mb_search_input2 {
  margin-bottom: 20px;
  font-family: 'InfinitySans-RegularA1';
  color: #8c8c8c;
  cursor: pointer;
}

.mb_search_btn {
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-family: 'InfinitySans-RegularA1';
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;

  background-image: linear-gradient(
    to right,
    black 30%,
    rgb(187, 187, 187),
    rgb(65, 65, 65),
    black,
    black
    );
}

.mb_search_btn:active {
  box-shadow: none;
  transition: all 0.001s
}

.mb_search_btn:hover {
  background-position: 100% 0;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 1);
}

.mb_search_btn:focus {
  outline: none;
}

.search_tour_form {
  display: none;
}

.mb_reco{
  width: 600px;
  height: 400px;
  position: relative;
}

.mb_reco_wrap {
  display: flex;
  overflow: hidden;
  border-radius: 20px;
}

.mb_reco_cont1{
  position: relative;
}

.mb_reco_cont1 a {
  width: 600px;
  height: 400px;
  background: url(../images/main_image1.png) no-repeat;
}

.mb_reco_cont2 {
  position: relative;
}

.mb_reco_cont2 a {
  width: 600px;
  height: 400px;
  background: url(../images/main_image2.png) no-repeat;
}

.mb_reco_cont3 {
  position: relative;
}

.mb_reco_cont3 a {
  width: 600px;
  height: 400px;
  background: url(../images/main_image3.png) no-repeat;
}

.mb_reco_txt1 {
  font-size: 26px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  position: absolute;
  top: 60px;
  left: 50px;
}

.mb_reco_txt2 {
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 2px black;
  position: absolute;
  top: 105px;
  left: 50px;
}

.carousel_page_bg {
  width: 40px;
  height: 30px;
  background: url(../images/main_carousel_btn1.png) no-repeat;
  display: inline-block;
  position: absolute;
  bottom: 30px;
  right: 130px;
  opacity:60%;
  text-align: center;
  line-height: 30px
}

.carousel_page {
  width: 40px;
  height: 20px;
  font-size: 14px;
  color: white;
}

.carousel_prev {
  width: 33px;
  height: 30px;
  background: url(../images/main_carousel_btn2.png) no-repeat;
  display: inline-block;
  position: absolute;
  bottom: 30px;
  right: 100px;
  opacity: 70%;
}

.carousel_prev:hover {
  opacity: 100%;
}

.carousel_next {
  width: 33px;
  height: 30px;
  background: url(../images/main_carousel_btn3.png) no-repeat;
  display: inline-block;
  position: absolute;
  bottom: 30px;
  right: 70px;
  opacity: 70%;
}

.carousel_next:hover {
  opacity: 100%;
}

.carousel_stop {
  width: 33px;
  height: 30px;
  background: url(../images/main_carousel_btn4.png) no-repeat;
  display: inline-block;
  position: absolute;
  bottom: 30px;
  right: 40px;
  opacity: 70%;
}

.carousel_stop:hover {
  opacity: 100%;
}

.carousel_play {
  width: 33px;
  height: 30px;
  background: url(../images/main_carousel_btn5.png) no-repeat;
  display: inline-block;
  position: absolute;
  bottom: 30px;
  right: 40px;
  opacity: 70%;
  display: none;
}

.carousel_play:hover {
  opacity: 100%;
}


.movemsg {
  color: #8c8c8c;
  position: absolute;
  right: 30px;
}

/* content */
.card img {
  width: 248px;
  height: 200px;
  object-fit: cover;
}
.card_slide{
  width: 1060px;
  margin:auto;
  display: flex;
}

.card {
  width: 250px;
  height: 350px;
  margin: 5px 8px;
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  position: relative;
}

.card:hover {
  transform: translate(-5px,-5px);
  transition-duration: 0.25s;
  box-shadow: 2px 5px 5px #999;
}
.card_cont_wrap {
  width: 250px;
  height: 150px;
  padding: 0 15px 15px;
}

.card_top {
  height: 20px;
  margin:5px 0 10px 0;
}

.card_category {
  color: #8c8c8c;
  vertical-align: middle;
}

.card_like {
  float: right;
}

.card_like_sign {
  width: 17px;
  height: 14px;
  background: url(../images/heart.png) no-repeat;
  text-indent: -9999px;
  display: inline-block;
  vertical-align: middle;
}

.card_like_count {
  color: #8c8c8c;
  font-size: 12px;
  margin-left: 5px;
  vertical-align: middle;
}

.card_bot {
  position: absolute;
  bottom: 10px;
  background: white;
}

.card_review {
  display: inline-block;
}

.star {
  font-family: 'SDSamliphopangche_Basic' !important;
  position: relative;
  font-size: 1rem;
  color: #d7d7d7;
  cursor: default;
}

.star span {
  width: 0;
  position: absolute; 
  left: 0px;
  color: #ffde0d;
  overflow: hidden;
  pointer-events: none;
  cursor: default;
}

.star_gpa {
  margin-left: 5px;
  color: #8c8c8c;
  font-size: 12px;
}

.star_null {
  color: #8c8c8c;
  font-size: 12px;
}

.card_review_sign {
  width: 77px;
  height: 14px;
  background: url(../images/star.png) no-repeat;
  text-indent: -9999px;
  display: inline-block;
}

.card_review_count {
  margin-left: 5px;
  color: #8c8c8c;
  font-size: 12px;
  vertical-align: top;
}

.card_price {
  color: #8c8c8c;
  font-weight: bold;
  font-size: 15px;
}

.card_price_std::before {
  content: "/";
  margin: 5px;
}

.card_price_std {
  color: #8c8c8c;
  font-size: 12px;
}

.card_title {
  margin-bottom: 5px;
}

.card_cont {
  color: #8c8c8c;
}

.card_prev {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: url(../images/content_prev.png) no-repeat;
  text-indent: -9999px;
  display: block;
  position: absolute;
  top: 220px;
  left: 30px
}

.card_next {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: url(../images/content_next.png) no-repeat;
  text-indent: -9999px;
  display: block;
  position: absolute;
  top: 220px;
  right: 30px
}

.card_next:hover, .card_prev:hover {
 box-shadow: 0px 2px 5px #999;
 transition-duration: 0.25s;
}

.best_room {
  width: 1200px;
  height: 400px;
  margin: 70px auto 60px;
  position: relative;
}

.slide_title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 75px;
}

.best_tour {
  width: 1200px;
  height: 400px;
  margin: 70px auto 60px;
  position: relative;
}

.trv_info {
  width: 1200px;
  height: 400px;
  margin: 70px auto 50px;
  position: relative;
}

/* sale banner */
.sale {
  width: 1200px;
  margin: 0 auto ;
  position : relative;
  margin-bottom: 50px;
}

.sale_cont1 a {
  width: 1200px;
  height: 250px;
  background: url(../images/sale_image01.jpg) no-repeat;
  display: block;
  border-radius: 10px;
}

.sale_cont2 a{
  width: 1200px;
  height: 250px;
  background: url(../images/sale_image02.jpg) no-repeat;
  display: block;
  border-radius: 10px;
}

.cmnt_evnt_wrap {
  width: 1200px;
  height: 300px;
  margin: auto;
}

/* community */

.cmnt {
  width: 500px;
  height: 270px;
  position: relative;
  margin-left: 75px;
  margin-right: 60px;
  float: left;
}

.cmnt h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.cmnt_menu {
  width: 250px;
  position: absolute;
  top: 10px;
  right: 0;
}

.cmnt_border {
  border-bottom: 4px solid black;
}

.cmnt_job {
  float: left;
  margin-right: 30px;
}

.cmnt_job a {
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.cmnt_deal {
  float: left;
}

.cmnt_deal a {
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.cmnt_more {
  width: 16px;
  height: 17px;
  background: url(../images/community_more.jpg) no-repeat;
  display: block;
  float: left;
  margin-top: 5px;
  margin-left: 40px;
}

.cmnt_list {
  width: 500px;
  font-size: 16px;
  margin-left: 5px;
  line-height: 30px;
}

.cmnt_list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cmnt_list_date {
  color: #8c8c8c;
  font-size: 14px;
}

.cmnt_list li a:hover {
  color: #eeb72e
}

/* event */
.evnt {
  width: 500px;
  float: left;
  position: relative;
}

.evnt h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.evnt_pagination {
  width: 180px;
  height: 20px;
  float: left;
  position: absolute;
  top: 40px;
  right: -40px;
  line-height: 20px;
}

.evnt_page {
  width: 35px;
  font-size: 20px;
  float: left;
  margin-right: 15px;
}

.evnt_prev {
  width: 12px;
  height: 19px;
  background: url(../images/event_prev.png) no-repeat;
  display: block;
  float: left;
  margin-right: 20px;
}

.evnt_next {
  width: 12px;
  height: 19px;
  background: url(../images/event_next.png) no-repeat;
  display: block;
  float: left;
  margin-right: 20px;
}

.evnt_stop {
  width: 10px;
  height: 18px;
  background: url(../images/event_stop.png) no-repeat;
  margin-top: 1px;
  display: block;
  float: left;
}

.evnt_play {
  width: 15px;
  height: 17px;
  background: url(../images/event_paly.png) no-repeat;
  margin-top: 1px;
  display: none;
  float: left;
}

.evnt_cont1 a {
  width: 500px;
  height: 200px;
  background: url(../images/event_image01.jpg) no-repeat;
  display: block;
}

.evnt_cont2 a{
  width: 500px;
  height: 200px;
  background: url(../images/event_image02.jpg) no-repeat;
  display: block;
}

/* app download */
.app {
  width: 1200px;
  height: 100px;
  margin: 20px auto 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app p {
  margin-right: 20px;
  font-size: 20px;
  color: #898989;
}

.app_apple {
  width: 153px;
  height: 61px;
  background: url(../images/app_ios.png) no-repeat;
  display: block;
  margin-right: 20px;
}

.app_gogle {
  width: 153px;
  height: 61px;
  background: url(../images/app_playstorepng.png) no-repeat;
  display: block;
}

.app a:hover {
  transition-duration: 0.25s;
  box-shadow: 2px 2px 5px #999;
}
/* award */
.award_wrap {
  background: #f2f5ef;
}

.award {
  width: 1200px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.award_txt_wrap {
  margin-left: 15px;
  display: inline-block;
}

.award_txt1 {
  font-size: 20px;
}

.award_txt2 {
  font-size: 16px; 
}