.content { 
  width: 1200px;
  height: 340px;
  margin: 200px auto;
  text-align: center;
  color: #8c8c8c;
  font-size: 16px;
}

.success_icon {
  width: 108px;
  height: 108px;
  background: url(../images/success.png) no-repeat;
  margin: auto;
}

.success_txt1 {
  width: 446px;
  height: 33px;
  background: url(../images/reservation_success.jpg) no-repeat;
  margin: 30px auto;
}

.success_txt2 {
  margin-bottom: 50px;
}

.reservation_btn{
  width: 200px;
  height: 40px;
  background: #eeb72f;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}