fieldset {
  border: none;
}

.content {
  margin-bottom: 200px;
}

.reservation_wrap {
  width: 1200px;
  height: 1300px;
  margin: auto;
}


.reservation_title {
  width: 200px;
  font-size: 40px;
  margin: 70px auto;
  text-align: center;
}

/* left */
.form_left {
  float: left;
}

.room_info {
  width: 770px;
  height: 240px;
}

.room_info_title {
  width: 100px;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.room_info_cont {
  width: 770px;
  height: 200px;
  border-top: 2px solid #8c8c8c;
  padding-top: 20px;
}

.reservation_roomphoto {
  width: 180px;
  height: 130px;
  float: left;
  margin: 0 20px;
  object-fit: cover;
}

.room_info_country {
  color: #8b8b8b;
  font-size: 12px;
}

.room_info_name {
  font-size: 18px;
  font-weight: bold;
}

.room_info_type {
  margin-bottom: 40px;
}

.user_info_title {
  width: 150px;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.user_info_cont {
  width: 770px;
  border-top: 2px solid #8c8c8c;
  margin-bottom: 30px;
}

.user_info_wrap {
  margin: 20px 0;
}

.user_info_cont p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.user_input {
  width: 300px;
  height: 30px;
  padding-left: 15px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}

.err_input {
  width: 300px;
  height: 30px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #eeb72f;
}

.man{
  margin-right: 10px;
}

.err_txt {
  margin-left: 10px;
  font-size: 12px;
  color: #eeb72f;
  display: inline-block;
}


.user_info_warning_wrap {
  width: 770px;
  height: 100px;
  background: #f2f5ef;
  display: flex;
  align-items: center;
}

.user_info_warning_icon {
  width: 51px;
  height: 53px;
  background: url(../images/warning.png) no-repeat;
  display: inline-block;
  margin: 0 15px;
}
.user_info_warning_msg {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}

.user_info_warning_msg01 {
  text-indent: 9px;
  margin-bottom: 10px;
}

.pay {
  width: 770px;
  height: 200px;
  margin-top: 50px;
}

.pay_title {
  width: 150px;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.pay_cont {
  width: 770px;
  height: 200px;
  border-top: 2px solid #8c8c8c;
  padding: 20px;
}

.pay_cont label {
  font-size: 16px;
  font-weight: bold;
}

.pay_cont div {
  margin-bottom: 20px;
}

/* right */

.form_right{
  width: 370px;
  height: 750px;
  border: 1px solid #8c8c8c;
  float: left;
  margin-left: 30px;
  padding-top: 20px;
}

.payment_title {
  width: 150px;
  font-size: 23px;
  font-weight: bold;
  text-align: left;
  margin: 0 0 10px 20px;
}

.payment_wrap1 {
  border-top: 2px solid #8c8c8c;
  padding-top: 20px;
  margin:0 20px;
}

.selectroom {
  height: 25px;
  font-size: 15px;
}

.selectroom_title {
  float: left;
}

.selectroom_account {
  float: right;
}

.oneday {
  height: 20px;
  font-size: 13px;
  color: #8c8c8c;
}

.oneday_title {
  float: left;
}

.oneday_account {
  float: right;
}

.payment_wrap2 {
  width: 368px;
  height: 80px;
  background: #fefaf0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.payment_wrap2 p {
  color: #eeb72f;
  font-size: 18px;
  font-weight: bold;
}

.totle_title {
  margin-left:20px;
}

.totle_account {
  margin-right: 20px;
}

.term {
  margin: 20px;
}

.term_title{ 
  width: 150px;
  font-size: 23px;
  font-weight: bold;
}

.term_wrap {
  border-top: 2px solid #8c8c8c;
  margin: 10px 0 ;
}

.term_wrap label{
  font-weight: bold;
}

.checkall_wrap {
  margin: 15px 0 10px 0;
  font-size: 15px;
}

.checkterm_wrap {
  width: 330px;
  border: 1px solid #b7b7b7;
  border-radius: 3px;
  padding: 10px;
}

.checkterm_wrap button {
  width: 70px;
  height: 22px;
  background: white;
  color: #eeb72f;
  border: 1px solid #eeb72f;
  border-radius: 2px;
  font-weight: bold;
  float: right;
}

.term1 {
  height:22px;
  display: block;
  margin-bottom: 10px;
}

.term2 {
  height:22px;
  display: block;
}

.payment_warning {
  width: 330px;
  height: 150px;
  background: #f2f5ef;
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.payment_warning_icon {
  width: 51px;
  height: 53px;
  background: url(../images/warning.png) no-repeat;
  display: inline-block;
  margin: 0 10px;
}

.payment_warning_msg {
  width: 250px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}

.payment_warning_msg01 {
  margin-bottom: 5px;
}
.reservation_btn {
  width: 330px;
  height: 50px;
  background: #eeb72f;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 20px;
}
