/* CSS Reset */
body,
h1,
h2,
h3,
h4,
p,
div,
ul,
li,
dl,
dt,
dd,
fieldset,
input,
button {
  margin: 0;
  padding: 0
}

*:focus {
  outline: 0 none;
}

root {
  scroll-behavior: auto
}

/* body {
  overflow-x: hidden;
  height: 100%;
} */

@font-face {
  font-family: 'InfinitySans-RegularA1';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body,
button {
  font-family: 'InfinitySans-RegularA1';
  font-size: 14px;
  line-height: 1.5
}

button {
  cursor: pointer;
}

div,
header,
ul,
input,
button,
a,
li,
form {
  box-sizing: border-box;
}

ul,
li {
  list-style: none
}

a {
  text-decoration: none;
  color: #000
}

address {
  font-style: normal
}

input {
  font-family: 'InfinitySans-RegularA1';
}

input::placeholder {color:#8c8c8c;}


/* 공통클래스 */
.hide {
  position: absolute;
  left: -9999px;
  top: -9999px
}

.indent {
  text-indent: -9999px;
}

.clearfix {
  clear: both;
}

.shadow {
  box-shadow: 0 5px 10px -7px rgba(0, 0, 0, 1);
}

.wrap {
  min-width: 1200px;
}

.displaynone {
  display: none;
}

.block {
  display: block;
}

/* check box*/
.wrap input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.wrap input[type="checkbox"]+label {
  display: inline-block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  vertical-align: bottom;
}

.wrap input[type="checkbox"]+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  text-align: center;
  background: url(../images/check_false.png) center center no-repeat;
  box-sizing: border-box;
}

.wrap input[type="checkbox"]:checked+label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 16px;
  height: 16px;
  background: url(../images/check_true.png) center center no-repeat;
}

/* radio */

.wrap input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.wrap input[type="radio"]+label {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  vertical-align: bottom;
}

.wrap input[type="radio"]+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  text-align: center;
  background: url(../images/radio_false.png) center center no-repeat;
  border-radius: 50%;
  box-sizing: border-box;
}

.wrap input[type="radio"]:checked+label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 16px;
  height: 16px;
  background: url(../images/radio_true.png) center center no-repeat;
  border-radius: 50%;
}

.datepicker_apply_btn {
  border: 1px solid #eeb72e;
  border-radius: 3px;
  color: white;
  background: #eeb72e;
}

.datepicker_cancel_btn {
  border: 1px solid #c7c7c7;
  border-radius: 3px;
  color: #5b5b5b;
  background: #f2f5ef;
}

.datepicker_apply_btn:hover {
  border: 1px solid #d69900;
  background: #d69900;
}

.datepicker_cancel_btn:hover {
  background: #c7c7c7;
}


/* 커스텀 버튼 */

.custom_btn {
  border: none;
  color: white;
  line-height: 40px;
  padding: 0;
  position: relative;
  display: inline-block;
  background: #eeb72f;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.custom_btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.custom_btn:before,
.custom_btn:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #eeb72f;
  transition: all 0.3s ease;
}

.custom_btn:before {
  height: 0%;
  width: 2px;
}

.custom_btn:after {
  width: 0%;
  height: 2px;
}

.custom_btn:hover {
  background: transparent;
  box-shadow: none;
}

.custom_btn:hover:before {
  height: 100%;
}

.custom_btn:hover:after {
  width: 100%;
}

.custom_btn span:hover {
  color: #eeb72f;
}

.custom_btn span:before,
.custom_btn span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #eeb72f;
  transition: all 0.3s ease;
}

.custom_btn span:before {
  width: 2px;
  height: 0%;
}

.custom_btn span:after {
  width: 0%;
  height: 2px;
}

.custom_btn span:hover:before {
  height: 100%;
}

.custom_btn span:hover:after {
  width: 100%;
}

.btn_hover:hover {
  background: #f0b00e;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  1px 2px 4px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
