/* CSS Reset */
body,
h1,
h2,
h3,
h4,
p,
div,
ul,
li,
dl,
dt,
dd,
fieldset,
input,
button {
  margin: 0;
  padding: 0
}

body {
  font-family:  "12LotteMartDreamMedium", "NanumGothic Eco", "맑은고딕";
  font-size: 14px;
  line-height: 1.5
}

div,
header,
ul,
input,
button {
  box-sizing: border-box;
}

ul,
li {
  list-style: none
}

a {
  text-decoration: none;
  color: #000
}

address {
  font-style: normal
}

/* 공통클래스 */
.hide {
  position: absolute;
  left: -9999px;
  top: -9999px
}

.indent {
  text-indent: -9999px;
}

.clearfix {
  clear: both;
}

.shadow {
  box-shadow: 0 5px 10px -7px rgba(0, 0, 0, 1);
}

.wrap {
  min-width: 1200px;
}

.block {
  display: block;
}