.content { 
  height: 800px;
  margin-bottom: 300px;
}

.signup_wrap {
  width: 1000px;
  height: 800px;
  margin: auto;
}
.signup_title {
  width: 172px;
  height: 44px;
  background: url(../images/signup_title.jpg) no-repeat;
  margin: 100px auto 50px;
}

.signup_title_wrap {
  width: 1000px;
  border-bottom: 2px solid black;
  margin: 0 auto 50px;
}
.minda_signup_wrap {
  width: 630px;
  border-right: 2px solid #b7b7b7;;
  float: left;
}

.userinfo {
  width: 500px;
  margin: auto;
}

.email_input {
  width: 290px;
  height: 40px;
  border-radius: 0px;
  border: 1px solid #b7b7b7;
}

.email_list {
  width: 210px;
  height: 40px;
  margin-left: -6px;
  border-radius: 0px;
  border: 1px solid #b7b7b7;
}

.email_check {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email_warning {
  color: red;
  font-size: 13px;
}

.email_check_btn {
  width: 100px;
  height: 40px;
  background: #eeb72f;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

.signup_rest input {
  width: 500px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 0px;
  border: 1px solid #b7b7b7;
}


.term {
  width: 500px;
  margin: 30px auto 0 ;
  border: none;
}

.term legend {
  font-weight: bold;
  font-size: 18px;
}

.term p {
  font-size: 11px;
  color: #8c8c8c;
  margin-top: -6px;
  margin-bottom: 15px;
}

.term_wrap {
  width: 500px;
  height: 130px;
  border: 1px solid #b7b7b7;
  display: flex;
  flex-direction:column;
  align-content: center;
}

.checkbox_wrap {
  margin: 15px 0 0 10px
}

.viewall {
  float: right;
  margin-right: 10px;
}

.term_wrap label {
  color: #8c8c8c;
}

.term_wrap a {
  color: #eeb72f;
}

.submit_btn {
  width: 500px;
  height: 40px;
  margin: 30px 0 0 63px;
  background: #eeb72f;
  color: white;
  font-weight: bold;
  font-size: 17px;
  border: none;
  border-radius: 5px;
}

/* social signup */
.social_signup {
  width: 270px;
  margin-left: 50px;
  float: left;
}

.social_signup_title {
  width: 187px;
  height: 21px;
  background: url(../images/sns_signup_title.jpg) no-repeat;
  margin: 0 auto 30px;
}
.naver_signup {
  width: 270px;
  height: 50px;
  background: url(../images/signup_naver.jpg) no-repeat;
  display: block;
  margin-bottom: 20px;
}

.kakao_signup {
  width: 270px;
  height: 50px;
  background: url(../images/signup_kakao.jpg) no-repeat;
  display: block;
  margin-bottom: 30px;
}

.login {
  height: 50px;
}

.login p {
  font-weight: bold;
  font-size: 16px;
}

.login a {
  font-weight: bold;
  color: #eeb72f;
  float: right;
}