.content { 
  width: 1200px;
  height: 340px;
  margin: 200px auto;
  text-align: center;
  color: #8c8c8c;
  font-size: 16px;
}

.success_icon {
  width: 108px;
  height: 108px;
  background: url(../images/success.png) no-repeat;
  margin: auto;
}

.success_txt1 {
  width: 435px;
  height: 33px;
  background: url(../images/signup_success.jpg) no-repeat;
  margin: 30px auto;
}

.user_name{
  color: #eeb72f;
  font-weight: bold;
}

.success_txt3 {
  margin-bottom: 50px;
}

.gomain_btn {
  width: 100px;
  height: 40px;
  background: white;
  color: #eeb72f;
  border: 1px solid #eeb72f;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.login_btn{
  width: 100px;
  height: 40px;
  background: #eeb72f;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}