fieldset {
  border: none;
}

body, span {
  font-size: 15px;
}

.content { 
  height: 800px;
  margin-bottom: 200px;
}

.user_wrap {
  width: 600px;
  height: 800px;
  margin: auto;
}

.myminda {
  width: 150px;
  font-size: 40px;
  margin: 100px auto 50px;
  text-align: center;
}

.profile_wrap {
  display: flex;
  flex-direction: column;
}

.profile_photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  display: inline-block;
}

.img_input {
  display: none;
}

.uplode_photo {
  width: 150px;
  height: 40px;
  background: #eeb72f;
  color: white;
  border: 1px solid #eeb72f;
  border-radius: 5px;
  font-weight: bold;
  display: block;
  margin: 20px auto 10px;
}

.remove_photo {
  width: 150px;
  height: 40px;
  background: #f2f5ef;
  color: #8b8b8b;
  border: 1px solid #f2f5ef;
  border-radius: 5px;
  font-weight: bold;
  display: block;
  margin: auto;
}

.line {
  width: 500px;
  height: 1px;
  background: #d7d7d7;
  margin: 25px auto 10px;
}

.edit_btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 60px;
  height: 30px;
  background: #eeb72f;
  color: white;
  border: 1px solid #eeb72f;
  border-radius: 2px;
  font-weight: bold;
  overflow: hidden;
  transition: 0.5s;
}

.edit_btn_click {
  background: white;
  color: #eeb72f;
  transition: 0.25s;
}

.change_info_wrap {
  width: 600px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  margin-top: 10px;
  padding: 50px;
  position: relative;
}

.change_info_title {
  width: 175px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: center;
  display: inline-block;
}

/* 조회 화면 */
.user {
  display: flex;
  flex-direction: column;
  line-height: 50px;
}

/* 편집 화면*/
.edit_cont {
  display: none;
}

.user_input {
  width: 250px;
  height: 40px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding-left: 15px;
}

.relative {
  position: relative;
}

.mr {
  margin-bottom: 18px;
}

.err_input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #eeb72f;
}

.err_txt {
  margin-left: 20px;
  font-size: 12px;
  color: #eeb72f;
  display: inline-block;
  position: absolute;
  top:33px;
  left: 160px;
}


/* 비밀번호 */
.user_password {
  height: 50px;
}

/* 누르면 팝업창 나오게 바꾸기 */
.user_password a {
  color: #eeb72f;
}

.marketing{
  height: 50px;
  display: flex;
  align-items: center;
}

.mk_btn1 {
  margin-right: 20px;
}

.btn {
  width: 420px;
  height: 40px;
  margin: 30px auto 0;
  display: none;
}

.cancel_btn {
  width: 200px;
  height: 40px;
  background: #f2f5ef;
  color: #8b8b8b;
  border: 1px solid #f2f5ef;
  border-radius: 5px;
  font-weight: bold;
  float: left;
}

.save_btn {
  width: 200px;
  height: 40px;
  background: #eeb72f;
  color: white;
  border: 1px solid #eeb72f;
  border-radius: 5px;
  font-weight: bold;
  float: right;
}

/* 비밀번호 변경 창 */
.scrollLock { 
  overflow: hidden; 
}

.pwd_modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0,0,0,0.6);
  display: none;
}

.pwd_modal_title {
  font-size: 20px;
  font-weight: bold;
}

.modal_pwd {
  width: 500px;
  height: 270px;
  background-color: white;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 1;
}

.modal_cancel_btn {
  width: 15px; 
  height: 15px; 
  background: url(../images/pop_cancelbtn.png) center center no-repeat;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 20px;
}

.modal_pwd p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.pwd_title {
  width: 100px;
  font-size: 16px;
  text-align: right;
  vertical-align: center;
  display: inline-block;
  margin-right: 15px;
}

.pwd_input_wrap {
  margin-bottom: 20px;
}

.repwd_input_wrap, .pwd_input_wrap{
  position: relative;
}

.pwd_input {
  width: 200px;
  height: 40px;
  border: 1px solid #b7b7b7;

  border-radius: 5px;
  padding-left: 15px;
}

.pwd_err_input {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #eeb72f;
}

.pwd_err_txt {
  margin-left: 20px;
  font-size: 12px;
  color: #eeb72f;
  display: inline-block;
  position: absolute;
  top:42px;
  right: 70px;
}

.pwd_mr {
  margin-bottom: 10px;
}

.modal_btn {
  width: 420px;
  height: 40px;
  position: absolute;
  left: 40px;
  bottom: 20px;
}

.pwd_cancel_btn {
  width: 150px;
  height: 40px;
  background: #f2f5ef;
  color: #8b8b8b;
  border: 1px solid #f2f5ef;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 15px;
}

.pwd_save_btn {
  width: 150px;
  height: 40px;
  background: #eeb72f;
  color: white;
  border: 1px solid #eeb72f;
  border-radius: 5px;
  font-weight: bold;
}

