fieldset {
  border: none;
}

.content { 
  height: 800px;
  margin-bottom: 300px;
}

.user_wrap {
  width: 600px;
  height: 800px;
  margin: auto;
}

.myminda {
  width: 150px;
  font-size: 40px;
  margin: 100px auto 50px;
  text-align: center;
}

.profile_wrap {
  width: 600px;
  height: 315px;
  border: 1px solid #b7b7b7;
}

.profile_photo {
  width: 150px;
  height: 150px;
  background: url(../images/profile.png) no-repeat;
  margin: 20px auto 0;
}

.uplode_photo {
  width: 150px;
  height: 40px;
  background: #eeb72f;
  color: white;
  border: 1px solid #eeb72f;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin: 10px auto;
}

.remove_photo {
  width: 150px;
  height: 40px;
  background: white;
  color: #eeb72f;
  border: 1px solid #eeb72f;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin: auto;
}

.change_info_wrap {
  width: 600px;
  height: 430px;
  border: 1px solid #b7b7b7;
  margin-top: 10px;
  padding: 50px;
  position: relative;
}

/* 편집 눌러야 input박스 나타나게 */
.edit_btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 60px;
  height: 30px;
  background: white;
  color: #eeb72f;
  border: 1px solid #eeb72f;
  border-radius: 2px;
  font-weight: bold;
}

.change_info_wrap span {
  width: 130px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: center;
}

.change_info_wrap input[type="text"] {
  width: 320px;
  height: 40px;
  border: 1px solid #b7b7b7;
  margin-top: 10px;
}

.user_email {
  margin-left: 100px;
}

.user_name_input {
  margin-left: 114px;
  border-radius: 5px;
  padding-left: 15px;
}

.user_nickname_input {
  margin-left: 100px;
  border-radius: 5px;
  padding-left: 15px;
}

.user_phone_input {
  margin-left: 100px;
  border-radius: 5px;
  padding-left: 15px;
}

.user_password {
  height: 40px;
  margin-top: 20px;
}

/* 누르면 팝업창 나오게 바꾸기*/
.user_password a {
  color: #eeb72f;
  font-size: 15px;
  font-weight: bold;
  margin-left: 85px;
}

.mk_radio {
  margin-left: 32px;
  display: inline-block;
}
.btn {
  width: 420px;
  height: 40px;
  margin: 30px auto 0;
}

.cancel_btn {
  width: 200px;
  height: 40px;
  background: #f2f5ef;
  color: #8b8b8b;
  border: 1px solid #f2f5ef;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  float: left;
}

.save_btn {
  width: 200px;
  height: 40px;
  background: #eeb72f;
  color: white;
  border: 1px solid #eeb72f;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  float: right;
}