fieldset {
  border: none;
}

body {
  font-size: 15px;
}

.content { 
  height: 800px;
  margin-bottom: 300px;
}

.btn_hover:hover {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  1px 2px 4px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}

.user_wrap {
  width: 600px;
  height: 800px;
  margin: auto;
}

.myminda {
  width: 150px;
  font-size: 40px;
  margin: 100px auto 50px;
  text-align: center;
}

.profile_wrap {
  display: flex;
  flex-direction: column;
}

.profile_photo {
  width: 150px;
  height: 150px;
  margin: auto;
  display: inline-block;
}

.uplode_photo {
  width: 150px;
  height: 40px;
  background: #eeb72f;
  color: white;
  border: 1px solid #eeb72f;
  border-radius: 5px;
  font-weight: bold;
  display: block;
  margin: 20px auto 10px;
}

.remove_photo {
  width: 150px;
  height: 40px;
  background: white;
  color: #eeb72f;
  border: 1px solid #eeb72f;
  border-radius: 5px;
  font-weight: bold;
  display: block;
  margin: auto;
}

.line {
  width: 500px;
  height: 1px;
  background: #d7d7d7;
  margin: 25px auto 10px;
}

.edit_btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 60px;
  height: 30px;
  background: #eeb72f;
  color: white;
  border: 1px solid #eeb72f;
  border-radius: 2px;
  font-weight: bold;
  overflow: hidden;
  transition: 0.5s;
}

.edit_btn_click {
  background: white;
  color: #eeb72f;
  transition: 0.25s;
}

.change_info_wrap {
  width: 600px;
  border: 1px solid #b7b7b7;
  margin-top: 10px;
  padding: 50px;
  position: relative;
}

.change_info_title {
  width: 160px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: center;
  display: inline-block;
}

/* 조회 화면 */
.user {
  display: flex;
  flex-direction: column;
  line-height: 50px;
}

/* 편집 화면*/
.edit_cont {
  display: none;
}

.user_input {
  width: 320px;
  height: 40px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding-left: 15px;
}

.relative {
  position: relative;
}

.mr {
  margin-bottom: 18px;
}

.err_input {
  width: 320px;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #eeb72f;
}

.err_txt {
  margin-left: 10px;
  font-size: 12px;
  color: #eeb72f;
  display: inline-block;
  position: absolute;
  top:33px;
  left: 160px;
}


/* 비밀번호 */
.user_password {
  height: 50px;
}

/* 누르면 팝업창 나오게 바꾸기 */
.user_password a {
  color: #eeb72f;
}

.marketing{
  height: 50px;
  display: flex;
  align-items: center;
}

.mk_btn1 {
  margin-right: 20px;
}

.btn {
  width: 420px;
  height: 40px;
  margin: 30px auto 0;
  display: none;
}

.cancel_btn {
  width: 200px;
  height: 40px;
  background: #f2f5ef;
  color: #8b8b8b;
  border: 1px solid #f2f5ef;
  border-radius: 5px;
  font-weight: bold;
  float: left;
}

.save_btn {
  width: 200px;
  height: 40px;
  background: #eeb72f;
  color: white;
  border: 1px solid #eeb72f;
  border-radius: 5px;
  font-weight: bold;
  float: right;
}