/* header */
.header {
  height: 198px;
  padding-top: 1px;
  position: relative;
  border-bottom: 1px solid black;
}

.partner_logo {
  width: 175px;
  margin: 60px auto 0;
}

.partner_logo a {
  display: block;
  width: 175px;
  height: 75px;
  background: url(../../images/partner_logo.png) no-repeat;
}

/* main */
.content {
  width: 1200px;
  margin: 50px auto;
  display: flex;
  padding-top: 50px;
}

.side_bar {
  width: 200px;
  height: 800px;
  background: #eeb72f;
  border: 1px solid #eeb72f;
  padding:0 30px;
}

.side_bar a{
  width: 140px;
  height: 80px;
  color: white;
  font-size: 18px;
  line-height: 120px;
  display: inline-block;
}

.side_bar a:hover {
 border-bottom: 3px solid white;
}

.this {
  border-bottom: 3px solid white;
}

.room_edit_cont {
  width: 1000px;
  height: 800px;
  border: 1px solid #d7d7d7;
}

/* input */
table {
  border-collapse: collapse;
  box-sizing: border-box;
}

button {
  border: none;
  color: white;
  background: #eeb72f;
  border-radius: 5px;
}

th, td {
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  font-size: 16px;
}

input, button {
  font-size: 16px;
}

th {
  width: 200px;
  height: 60px;
  background: #f2f5ef;
}

td {
  padding:0 20px;
}

.room_edit_table {
  width: 1000px;
  border-collapse: collapse;
  margin: -1px;
  box-sizing: border-box;
}

.ldg_name, .ldg_addr {
  width: 800px;
  border: none;
  height: 60px;
}

.ldg_info_td {
  height: 60px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.ldg_img_wrap {
  display: inline-block;
}

.ldg_info_btn {
  color: #8c8c8c;
}

.room_type_wrap label {
  margin-right: 20px;
}

.room_facility_wrap {
  height: 60px;
  border: none;
  display: flex;
  align-items: center;
}

.room_facility_wrap label {
  margin-right: 20px;
}

.rf_line {
  width: 1px;
  height: 60px;
  background: #d7d7d7;
  margin: 0 20px 0 0;
  display: inline-block;
}

.pubilc_facility_wrap input {
  width: 40px;
  height: 30px;
  border: 1px solid #d7d7d7;
  margin: 0 5px;
  text-align: right;
  padding: 0 5px;
}

.pubilc_facility_wrap span {
  margin-right: 20px;
}

.room_list {
  height: 435px;
}

.room_list td {
  text-align: center;
}

.room_btn {
  margin: 10px;
  width: 70px;
  height: 30px;
  font-size: 14px;
}

.ldg_submit_btn {
  margin: 10px auto 0;
  width: 220px;
  height: 45px;
}

/* card */
.room_list td{
  overflow: hidden;
  position: relative;
}

.room_slide{
  width: 800px;
  margin:30px auto 0;
  display: flex;
}

.room_slide li {
  margin: 0 10px;
}

.card {
  width: 230px;
  height: 300px;
  margin: 5px 8px;
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  text-align: left;
  position: relative;
}

.card:hover {
  transform: translate(0px,-2px);
  transition-duration: 0.25s;
  box-shadow: 0px 0px 5px #999;
}

.card_delete_btn {
  width: 15px; 
  height: 15px; 
  background: url(../../images/pop_cancelbtn.png) center center no-repeat;
  cursor: pointer;
  border: none;
  position: absolute;
  top:10px;
  right: 10px;
}


.card img {
  width: 230px;
  height: 150px;
  margin: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  object-fit: cover;
}

.card_cont_wrap {
  width: 230px;
  height: 140px;
  padding: 0 10px;
  margin-top: 5px;
}

.card_prev {
  width: 12px;
  height: 19px;
  background: url(../../images/event_prev.png) no-repeat;
  text-indent: -9999px;
  display: block;
  position: absolute;
  top: 15px;
  right: 80px
}

.card_next {
  width: 12px;
  height: 19px;
  background: url(../../images/event_next.png) no-repeat;
  text-indent: -9999px;
  display: block;
  position: absolute;
  top: 15px;
  right: 30px
}

.room_price_wrap {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.room_cont_txt {
  margin-top: 10px;
  font-size: 14px;
  color: #8c8c8c;
}

.room_price_txt {
  font-size: 14px;
  color: #8c8c8c;
}

/* 숙소 소개 팝업*/
.scrollLock { 
  overflow: hidden; 
}

.pop_cancel_btn {
  width: 15px; 
  height: 15px; 
  background: url(../../images/pop_cancelbtn.png) center center no-repeat;
  cursor: pointer;
  border: none;
  position: absolute;
  top:20px;
  right: 20px;
}


.ldg_info_modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0,0,0,0.6);
  z-index: 10;
  display: none;
}

.ldg_info_pop {
  width: 1000px;
  height: 550px;
  background-color: white;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  color: black;
  text-align: center;
}

.ldg_pop_title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ldg_pop_sub_title1 {
  font-size: 18px;
}

.ldg_pop_sub_title2 {
  font-size: 18px;
} 

.ldg_pop_sub_title3 {
  text-align: left;
  font-size: 18px;
  margin: 4px 0 9px 5px;
}

.ldg_pop_wrap {
  display: flex;
  justify-content: space-between;
}

.ldg_pop_left {
  width: 470px;
}

.ldg_pop_left_txt_wrap {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  margin: 0 0 10px 5px;
}

.ldg_img_input {
  display: none;
}

.ldg_pop_main_img {
  width: 470px;
  height: 250px;
  border: 1px solid #d7d7d7;
  margin-bottom: 10px;
  object-fit: cover;
}

.ldg_pop_img_wrap {
  width: 470px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.ldg_pop_img {
  width: 110px;
  height: 70px;
  border: 1px solid #d7d7d7;
}


.img_btn{
  width: 120px;
  height: 30px;
  border: 1px solid #eeb72f;
  background: white;
  color: #eeb72f;
}

.img_btn:hover {
  background: #f0b00e;
  color: white;
  transition: all 0.3s ease;
  border: none;
}

.ldg_pop_right {
  width: 470px;
}

.ldg_pop_info_txt {
  width: 445px;
  height: 348px;
  border: 1px solid #d7d7d7;
  padding: 10px;
  font-size: 14px;
  resize: none;
  white-space: pre-wrap;
}

.info_save_btn {
  width: 120px;
  height: 35px;
  margin-top: 20px;
}

/* 객실 등록 팝업 */
.room_modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0,0,0,0.6);
  z-index: 10;
  display: none;
}

.room_pop {
  width: 900px;
  height: 590px;
  background-color: white;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  opacity: 1;
  color: black;
  text-align: center;
}

.room_pop td{
  text-align: left;
}

.room_pop_table {
  width: 860px;
  margin: auto;
  border: 1px solid #d7d7d7;
}

.room_pop_title{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.room_pop_name{
  width: 350px;
  border: none;
  padding: 0 10px;
}

.room_pop_info_wrap {
  height: 200px;
  display: flex;
  padding: 20px 0;
}

.room_pop_img{
  width: 267px;
  height: 160px;
  border: 1px solid #d7d7d7;
}

.room_pop_info_right {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.room_pop_info_right p {
  margin-bottom: 5px;
}

.room_pop_img_btn {
  margin-top: 10px;
  width: 130px;
  height: 30px;
}

.room_pop_facility_wrap {
  height: 60px;
  border: none;
  display: flex;
  align-items: center;
}

.room_pop_facility_wrap label {
  margin-right: 20px;
}

.room_pop_maxnop input {
  width: 40px;
  height: 30px;
  border: 1px solid #d7d7d7;
  margin: 0 5px;
  text-align: right;
  padding: 0 5px;
}

.room_pop_price input {
  width: 200px;
  height: 40px;
  font-size: 18px;
  border: 1px solid #d7d7d7;
  margin: 0 5px;
  text-align: right;
  padding: 0 5px;
}

.room_pop_price_txt {
  color: #8c8c8c;
  font-size: 14px;
}

.room_submit_btn {
  width: 150px;
  height: 40px;
  margin: 15px auto 0;
}
