/* header */
.header {
  height: 198px;
  padding-top: 1px;
  position: relative;
  border-bottom: 1px solid black;
}

.partner_logo {
  width: 175px;
  margin: 60px auto 0;
}

.partner_logo a {
  display: block;
  width: 175px;
  height: 75px;
  background: url(../../images/partner_logo.png) no-repeat;
}

/* main */
.content {
  width: 1200px;
  margin: 50px auto;
  display: flex;
  padding-top: 50px;
}

.side_bar {
  width: 200px;
  height: 800px;
  background: #eeb72f;
  border: 1px solid #eeb72f;
  padding:0 30px;
}

.side_bar a{
  width: 140px;
  height: 80px;
  color: white;
  font-size: 18px;
  line-height: 120px;
  display: inline-block;
}

.side_bar a:hover {
 border-bottom: 3px solid white;
}


.cont {
  width: 1000px;
  height: 800px;
  border: 1px solid #d7d7d7;
  padding: 20px;
  position: relative;
}

/* search result */
.list_title {
  width: 850px;
  font-size: 16px;
  margin: 10px 0;
}

.list_title span {
  font-weight: bold;
  color: #eeb72f
}

.new_ldg {
  width: 100px;
  height: 35px;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
  color: white;
  background: #eeb72f;
  border: none;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
}

.ldg_card {
  width: 960px;
  height: 220px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  display: flex;
  margin: 10px 0;
}

.ldg_card_img_wrap img{
  width: 250px;
  height: 180px;
  object-fit: cover;
}

.ldg_card_menu {
  position:absolute;
  top: 20px;
  right: 20px;
  display: flex;
}

.menu_btn {
  width: 100px;
  height: 35px;
  font-size: 16px;
  display: inline-block;
  color: #eeb72f;
  background: white;
  border: 1px solid #eeb72f;
  border-radius: 5px;
  margin-left: 10px;
  text-align: center;
  line-height: 33px;
}

/* .menu_btn:hover {
  background: #eeb72f;
  color: white;
  transition: 0.5s;
} */

.ldg_card_left {
  width: 300px;
  margin-left: 20px;
  position: relative;
}

.lodging_name {
  font-size: 25px;
  font-weight: bold;
}

.room_type {
  color: #8c8c8c;
}

.ldg_card_bot {
  position: absolute;
  bottom: 0;
  color: #8c8c8c;
}

.room_service {
  width: 400px;
  position: absolute;
  top: -23px;
}

.ldg_card_review {
display: inline-block;
margin-right: 20px;
}

.review_star {
  width: 77px;
  height: 14px;
  background: url(../../images/star.png) no-repeat;
  text-indent: -9999px;
  display: inline-block;
  line-height: 16px;
}

.review_count {
  color: black;
  font-size: 16px;
  margin-right: 5px;
}

.ldg_card_right {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.ldg_card_day {
  width: 48px;
  height: 23px;
  background: url(../../images/oneday.png) no-repeat;
  margin-bottom: 5px;
}

.ldg_card_price {
  font-size: 25px;
  font-weight: bold;
}


/* search result */
.pagenation {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagenation_btn01 {
  width: 32px;
  height: 32px;
  background: url(../images/ldg_review_pagenation01.png) no-repeat;
  margin-right: 10px;
}

.pagenation_btn02 {
  width: 32px;
  height: 32px;
  background: url(../images/ldg_review_pagenation02.png) no-repeat;
}