/* header */
.header {
  height: 198px;
  padding-top: 1px;
  position: relative;
  border-bottom: 1px solid black;
}

.partner_logo {
  width: 175px;
  margin: 60px auto 0;
}

.partner_logo a {
  display: block;
  width: 175px;
  height: 75px;
  background: url(../../images/partner_logo.png) no-repeat;
}

/* main */
.rf_line {
  width: 1px;
  height: 60px;
  background: #d7d7d7;
  margin: 0 20px 0 0;
  display: inline-block;
}

.content {
  width: 1200px;
  margin: 50px auto;
  display: flex;
  padding: 50px 0;
}

.side_bar {
  width: 200px;
  height: 808px;
  background: #eeb72f;
  border: 1px solid #eeb72f;
  padding:0 30px;
}

.side_bar a{
  width: 140px;
  height: 80px;
  color: white;
  font-size: 18px;
  line-height: 120px;
  display: inline-block;
}

.side_bar a:hover {
 border-bottom: 3px solid white;
}

.this {
  border-bottom: 3px solid white;
}

.room_cont {
  width: 1000px;
  height: 808px;
  border: 1px solid #d7d7d7;
}

/* input */
table {
  border-collapse: collapse;
  box-sizing: border-box;
}

button {
  border: none;
  color: white;
  background: #eeb72f;
  border-radius: 5px;
}

th, td {
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  font-size: 16px;
}

input, button {
  font-size: 16px;
}

th {
  width: 200px;
  height: 60px;
  background: #f2f5ef;
}

td {
  padding:0 20px;
}

.room_edit_table {
  width: 1000px;
  border-collapse: collapse;
  margin: -1px;
  box-sizing: border-box;
}

.room_form {
  position: relative;
}

.room_cont td{
  text-align: left;
}

.room_name{
  width: 350px;
  border: none;
  padding: 0 10px;
}

.room_img_wrap {
  height: 205px;
  display: flex;
  padding: 20px 0;
}

.room_img_input {
  display: none;
}

.room_img{
  width: 267px;
  height: 160px;
  border: 1px solid #d7d7d7;
}

.room_img_btn {
  font-size: 14px;
  margin-top: 10px;
  width: 100px;
  height: 30px;
}

.room_facility_wrap {
  height: 60px;
  border: none;
  display: flex;
  align-items: center;
}

.room_facility_wrap label {
  margin-right: 20px;
}

.room_maxnop input {
  width: 40px;
  height: 30px;
  border: 1px solid #d7d7d7;
  margin: 0 5px;
  text-align: right;
  padding: 0 5px;
}

.room_price input {
  width: 200px;
  height: 40px;
  font-size: 18px;
  border: 1px solid #d7d7d7;
  margin: 0 5px;
  text-align: right;
  padding: 0 5px;
}

.room_price_txt {
  color: #8c8c8c;
  font-size: 14px;
}

/* card */
.room_list {
  position:relative;
}

.room_list td{
  overflow: hidden;
  position: relative;
  text-align: center;
}
.room_slide{
  width: 800px;
  margin: 25px auto;
  display: flex;
}

.room_slide li {
  margin: 0 10px;
}

.card {
  width: 230px;
  height: 300px;
  margin: 5px 8px;
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  text-align: left;
  position: relative;
}

.card:hover {
  transform: translate(0px,-2px);
  transition-duration: 0.25s;
  box-shadow: 0px 0px 5px #999;
}

.card_delete_btn {
  width: 50px; 
  height: 25px;
  font-size: 13px;
  background: #f2f5ef;
  color: #8b8b8b;
  border: 1px solid #f2f5ef;
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  top:10px;
  right: 10px;
}

.card img {
  width: 230px;
  height: 150px;
  margin: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  object-fit: cover;
}

.card_cont_wrap {
  width: 230px;
  height: 140px;
  padding: 0 10px;
  margin-top: 5px;
}

.card_prev {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: url(../../images/content_prev.png) no-repeat;
  text-indent: -9999px;
  display: block;
  position: absolute;
  top: 150px;
  left: 30px
}

.card_next {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: url(../../images/content_next.png) no-repeat;
  text-indent: -9999px;
  display: block;
  position: absolute;
  top: 150px;
  right: 30px
}

.card_next:hover, .card_prev:hover {
 box-shadow: 0px 2px 5px #999;
 transition-duration: 0.25s;
}

.room_price_wrap {
  margin-top: 37px;
  display: flex;
  justify-content: space-between;
}

.room_cont_txt {
  margin-top: 10px;
  font-size: 14px;
  color: #8c8c8c;
}

.room_price_txt {
  font-size: 14px;
  color: #8c8c8c;
}

.new_room_btn {
  width: 150px;
  height: 40px;
  border: none;
  color: white;
  background: #eeb72f;
  border-radius: 5px;
  font-size: 18px;
  display: inline-block;
  line-height: 40px;
  margin-top: 15px;
  text-align: center;
  position:absolute;
  right: 170px;
}

.room_submit_btn {
  width: 150px;
  height: 40px;
  margin: 15px auto 0;
  font-size: 18px;
  position:absolute;
  right: 0;
}